
@{
    ViewBag.Title = "Index";
}

<h2>Travel Index</h2>

<h5>What do you want to do?</h5>

<ul>
    <li>
        @Html.ActionLink("FLIGHT","Flight","Travel")
    </li>
    <li>
        @Html.ActionLink("HOTEL", "Hotel", "Travel")
    </li>
</ul>

